<div id='tweetWrap' class="border relative rounded p-1">
  <div class="-mt-4 absolute tracking-wider px-1 text-xs">
    <p>
      <%= f.label :content, class: 'bg-white text-gray-600 px-1' %>
    </p>
  </div>
  <p>
    <%= f.text_area :content, id: 'tweetInput', class: 'py-1 px-1 text-gray-900 outline-none block w-full resize-none text-sm h-24' %>
  <p class='text-right text-xs text-gray-700'><span class='show-remain'></span>/140</p>
  </p>
</div>
<style>
  .err {
    border: solid 2px #f44;
  }
</style>